@import url(http://fonts.googleapis.com/earlyaccess/amiri.css);
/* font-family: Amiri, serif; */

@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
/* font-family: Droid Arabic Kufi, serif; */

@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
/* font-family: Droid Arabic Naskh, serif; */

@import url(http://fonts.googleapis.com/earlyaccess/lateef.css);
/* font-family: Scheherazade, serif; */

@import url(http://fonts.googleapis.com/earlyaccess/scheherazade.css);
/* font-family: Lateef, serif; */

@import url(http://fonts.googleapis.com/earlyaccess/thabit.css);
/* font-family: Thabit, serif; */




body{
    padding: 0;
    margin: 0;
    direction: rtl;
    text-align: right;
    font-family: Droid Arabic Kufi, serif;
    
}

.aya{
    font-family: Scheherazade, serif;
    
    line-height: 60px !important;
}


/* arrow go top */
#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}

